/* 
    textarea tag
    Purpose: Make the text in text area centered 
            and change the background with the fonts
*/
textarea{

    padding-top: 40px; 
    padding-bottom: 40px;
    text-align: center;
    font-size: auto;
    resize: none;
    background-color: lightcoral;
    border: none;
    font-weight: bolder;
    color: black;
}

/* 
    body tag
    Purpose: Change The Background Color Of The 
              Whole Page
*/
body{
    
    background-color: cyan;
}

/* 
    main tag
    Purpose: Creates space for the top of the page
*/
main{
    padding-top: 50px;
}

/* 
    section tag
    Purpose: seperate Each Section
*/
section{
    padding-bottom: 20px;
}

/* 
    ul li tag
    Purpose: change the list dots to numbers
*/
ul li{
    list-style: decimal;
}

/* 
style="height:30px; width:30px;"
*/
input[type="text"]
{
    /* Update location of input */
    padding-left: 60px;
}

/* 
    checkbox input types
    Purpose: Increase checkbox sizes
*/
input[type="checkbox"]
{
    /* Update Height */
    height:30px; 
    /* Update Width */
    width:30px;
}

/* 
    Chexkboxes labels
    Purpose: Change position and margin
            For The checkbox labels
*/
label[for="checkBoxes"]
{
    position: absolute;
    margin-left: 40px;
    margin-top: 3px;
}

/*  
    label for passLengthTextbox
    Purpose: change position, padding and move
            The zindex to the front of the page
*/
label[for="passLengthTextBox"]
{
    position:absolute; 
    padding-left: 5px; 
    padding-top: 2px;
    z-index: 2;
}

/* 
    label for lengthErrorLabel
    Purpose: Change position and set colors to the
            Length error message
*/
label[for="lengthErrorLabel"]
{
    position: absolute; 
    padding-left: 50px;
    margin-top: 27px;
    z-index: 2;
    color: darkred;
    font-weight: bold;
}

/* 
    label for checkBoxError
    Purpose: Change Position and set colors to the 
            Checkbox error message
*/
label[for="checkBoxError"]
{
    position: absolute;
    margin-top: 27px;
    z-index: 2;
    color: darkred;
    font-weight: bold;
}


/*  
    legend tag
    Purpose: Set a background color of the header of the 
            section
*/
legend{
    width: auto;
    background-color: lightblue;
    padding: 5px;
    font-weight: bolder;
}

/*
    fieldset tag
    Purpose: change The background of the fieldset tag
*/
fieldset{
    background-color: lightcoral;
}

/* 
    borderinput Class
    Purpose: To create a border around a main article
*/
.borderInput{

    border: 5px solid blue;
    padding: 20px;
    border-color: lightblue;
    width:100%;
}


