/* 
    textarea tag
    Purpose: Make the text in text area centered 
            and make text area un-resizeable
*/
textarea{

    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: auto;
    resize: none;
    background-color: lightcoral;
    border: none;
    font-weight: bolder;
    color: black;
}

body{
    
    background-color: cyan;
}


main{
    padding-top: 50px;
}

/* 
    section tag
    Purpose: seperate Each Section
*/
section{
    padding-bottom: 20px;
}

/* 
    ul li tag
    Purpose: change the list dots to numbers
*/
ul li{
    list-style: decimal;
}

/* 
style="height:30px; width:30px;"
*/
input[type="checkbox"]
{
    /* Update Height */
    height:30px; 
    /* Update Width */
    width:30px;
}

/* 
style="height:30px; width:30px;"
*/
input[type="text"]
{
    /* Update location of input */
    padding-left: 60px;
}

/* 
style="height:30px; width:30px;"
*/
input[type="checkbox"]
{
    /* Update Height */
    height:30px; 
    /* Update Width */
    width:30px;
}

label[for="checkBoxes"]
{
    position: absolute;
    margin-left: 40px;
    margin-top: 3px;
}

label[for="passLengthTextBox"]
{
    position:absolute; 
    padding-left: 5px; 
    padding-top: 2px;
    z-index: 2;
}

label[for="lengthErrorLabel"]
{
    position: absolute; 
    padding-left: 50px;
    margin-top: 27px;
    z-index: 2;
    color: darkred;
    font-weight: bold;
}

legend{
    width: auto;
    background-color: lightblue;
    padding: 5px;
    font-weight: bolder;
}

fieldset{
    background-color: lightcoral;
}

.borderInput{

    border: 5px solid blue;
    padding: 20px;
    border-color: lightblue;
    width:100%;
}


.jumbotron{
    
    background-color: cyan;
}

